FIREBASE_DATABASE_URL=https://<project-id>-default-rtdb.firebaseio.com
GOOGLE_APPLICATION_CREDENTIALS=/etc/remote-printouts/service-account.json
JPRINT_BASE_URL=http://localhost:3001
CLAIM_LEASE_MS=120000
